<% page_heading = "Accessibility statement for Product Safety Database" %>
<% page_title page_heading %>

<div class="govuk-grid-row govuk-!-margin-bottom-5">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">
      <%= page_heading %>
    </h1>

    <p class="govuk-body">This statement applies to the <a href="https://www.product-safety-database.service.gov.uk" class="govuk-link">product-safety-database.service.gov.uk</a> subdomain. It does not apply to content on the <a href="https://www.gov.uk">www.gov.uk</a> domain published by the Office for Product Safety and Standards (OPSS).</p>

    <p>The Product Safety Database is run by OPSS.</p>

    <h2 class="govuk-heading-m">How accessible the Product Safety Database is</h2>

    <p class="govuk-body">Parts of the Product Safety Database are not fully accessible. For example, some document attachments are not clearly written, and some are in PDF format and not accessible.</p>

    <h2 class="govuk-heading-m">Reporting accessibility problems with the Product Safety Database</h2>

    <p class="govuk-body">If you find any problems that are not listed on this page or think we’re not meeting the accessibility requirements, contact <a href="mailto:opss.enquiries@businessandtrade.gov.uk">opss.enquiries@businessandtrade.gov.uk</a>. If you request a response, we’ll aim to reply within 2 working days.</p>

    <h2 class="govuk-heading-m">Enforcement procedure</h2>

    <p class="govuk-body">If you contact us with a complaint and you’re not happy with our response, contact the <a href="https://www.equalityadvisoryservice.com/" class="govuk-link">Equality Advisory and Support Service (EASS)</a>.</p>

    <p class="govuk-body">The Equality and Human Rights Commission (EHRC) is responsible for enforcing the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018 (the ‘accessibility regulations’).</p>

    <h2 class="govuk-heading-m">Technical information about the accessibility of the Product Safety Database</h2>

    <p class="govuk-body">OPSS is committed to making its websites accessible, in accordance with the Public Sector Bodies (Websites and Mobile Applications) (No. 2) Accessibility Regulations 2018.</p>

    <p class="govuk-body">The Product Safety Database is partially compliant with the <a href="https://www.w3.org/TR/WCAG21/" class="govuk-link">Web Content Accessibility Guidelines version 2.1 AA standard</a>, due to the non-compliances and exemptions listed below.</p>

    <h3 class="govuk-heading-s">Non-accessible content</h3>

    <p class="govuk-body">The content listed below is non-accessible for the following reasons.</p>

    <h3 class="govuk-heading-s">Non-compliance with the accessibility regulations</h3>

    <p class="govuk-body">The skip links do not move the user’s visual focus to the relevant input field. This fails WCAG 2.1A 2.4.1 (Bypass Blocks).</p>

    <h3 class="govuk-heading-m">Content that is not within the scope of the accessibility regulations</h3>

    <p class="govuk-body">The Product Safety Database allows local authorities and market surveillance authorities to upload documents they have produced to share information and manage investigations. This third-party content is neither funded nor developed by OPSS and is not under its control. As such it is exempt under section 4(2)(e) of the accessibility regulations.</p>

    <h2 class="govuk-heading-m">What we’re doing to improve accessibility</h2>

    <p class="govuk-body">We will encourage local authorities and market surveillance authorities to ensure that the documents they upload to the Product Safety Database are accessible.</p>

    <h2 class="govuk-heading-m">How we tested the Product Safety Database</h2>

    <p class="govuk-body">This statement was prepared on 7 August 2024.</p>

    <p class="govuk-body">The Product Safety Database was last tested on 25 February 2020. The test was carried out by the Digital Accessibility Centre.</p>

    <p class="govuk-body">The website was given a manual technical audit with automated tools and tested by a team with differing disabilities using a range of adaptive technologies. A small number of accessibility issues were reported and have been resolved apart from the non-compliance identified above.</p>

    <p class="govuk-body">We have commissioned an external accessibility audit of the service by Testing Xperts which will be completed by 14 August 2024 after which this statement will be updated. We are reviewing the issues raised and work is ongoing to fix them.</p>

    </div>
</div>
