<div class="govuk-grid-row psd-case-card">
  <div class="govuk-grid-column-one-half">
    <span class="govuk-caption-m govuk-!-font-size-16">
      Business
    </span>
    <span>
      <%= link_to business.trading_name, business %>
    </span>
  </div>
  <div class="govuk-grid-column-one-half">
    <span class="govuk-caption-m govuk-!-font-size-16">
      Company No.
    </span>
    <span>
      <%= business.company_number %>
    </span>
  </div>
</div>
