<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "search_statement", count: count, keywords: keywords, filter: filter %>
  </div>
  <%= render_sort_by form, sort_by_items, selected_sort_by, selected_sort_direction %>
</div>
