<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" role="region" aria-label="Businesses">
    <p class="govuk-body opss-text-align-center">
       <%= "There are no business records linked to your open notifications." if page_name == "your_businesses" %>
       <%= "There are no business records linked to the team's open notifications." if page_name == "team_businesses" %>
       <br>
       You can search all business records in the <%= link_to "all businesses", all_businesses_path, class: "govuk-link govuk-link--no-visited-state" %> search page.

    </p>
  </div>
</div>
