<p class="govuk-body">
  <% if keywords.blank? %>
    There are currently <%= pluralize count, "business" %>.
  <% else %>
    <% if keywords.present? %>
      <%= pluralize count, "business" %> matching keyword(s) <span class="govuk-!-font-weight-bold"><%= sanitize keywords %></span>, <%= count == 1 ? "was" : "were" %> found.
    <% end %>
  <% end %>
</p>
