<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">
    <%= link_to sanitize(business&.trading_name), business, class: "govuk-link govuk-link--no-visited-state" %>
  </th>
  <td class="govuk-table__cell">
    <%= sanitize(business&.legal_name.presence || "Not provided") %>
  </td>
  <td class="govuk-table__cell">
    <%= sanitize(business&.company_number.presence || "Not provided") %>
  </td>
</tr>
