<%= page_title "Business - #{@business.trading_name}" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= @business.trading_name %></h1>
  </div>
</div>

<%= govukTabs(
  items: [
    {
      id: "full-detail",
      label: "Full detail",
      panel: { html: render("businesses/tabs/details") }
    },
    {
      id: "locations",
      label: "Locations (#{@business.locations.count})",
      panel: { html: render("businesses/tabs/locations") }
    },
    {
      id: "contacts",
      label: "Contacts (#{@business.contacts.count})",
      panel: { html: render("businesses/tabs/contacts") }
    },
    {
      id: "cases",
      label: "Notifications",
      panel: { html: render("businesses/tabs/cases") }
    }
  ]
) %>
