<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">
      Home <span class="govuk-!-font-weight-regular govuk-heading-l govuk-!-display-inline"> – The Product Safety Database (<abbr>PSD</abbr>)</span>
    </h1>

    <p class="govuk-body govuk-!-margin-bottom-0">
      The Product Safety Database (<abbr>PSD</abbr>) is the <abbr>UK</abbr> statutory record of products deemed unsafe or noncompliant. It allows the <abbr>UK</abbr> government to act to protect consumers and is the primary source for market surveillance activity, recorded corrective actions and the sharing and publishing of product safety information.
    </p>
  </div>
</div>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<section class="govuk-grid-row opss-equal-height-container opss-equal-height-container--flush">
  <div class="govuk-grid-column-two-thirds opss-equal-height__col">
    <div class="opss-equal-height-container__panel-1">
      <div class="opss-colour-block-title opss-colour-block-title--blue">
        <h2 class="govuk-heading-m">
          Add information
      </h2>
      </div>

      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">Create a case</span> for a product notification. This starts from a product record page.
      </p>
    </div>

    <div class="opss-step-nav opss-step-nav--large">
      <ol class="opss-step-nav__steps">
        <li class="opss-step-nav__step">
          <div class="opss-step-nav__header">
            <h3 class="opss-step-nav__title">
              <span class="opss-step-nav__circle opss-step-nav__circle--number">
                <span class="opss-step-nav__circle-inner">
                  <span class="opss-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 1<span class="govuk-visually-hidden">:</span>
                  </span>
                </span>
              </span>
              Find the product
            </h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1">
              Search for the product in the Products area and open it to view the product record.
            </p>

            <p class="govuk-body-s govuk-!-margin-bottom-1 opss-secondary-text opss-font-size-14">
              If you can't find the product - create a new product record for it.
            </p>
          </div>
        </li>
        <li class="opss-step-nav__step">
          <div class="opss-step-nav__header">
            <h3 class="opss-step-nav__title">
              <span class="opss-step-nav__circle opss-step-nav__circle--number">
                <span class="opss-step-nav__circle-inner">
                  <span class="opss-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 2<span class="govuk-visually-hidden">:</span>
                  </span>
                </span>
              </span>
              Create your case
            </h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1">
              Select 'Create a new case for this product' and complete the form journey.
            </p>
            <p class="govuk-body-s govuk-!-margin-bottom-1 opss-secondary-text opss-font-size-14">
              The product record is automatically included within the case.
            </p>
          </div>
        </li>
        <li class="opss-step-nav__step">
          <div class="opss-step-nav__header">
            <h3 class="opss-step-nav__title">
              <span class="opss-step-nav__circle opss-step-nav__circle--number">
                <span class="opss-step-nav__circle-inner">
                  <span class="opss-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 3<span class="govuk-visually-hidden">:</span>
                  </span>
                </span>
              </span>
              Add further information to the case
            </h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1">
              The case can be found in the Cases area, where you can continue to add information and your supporting case information.
            </p>
          </div>
        </li>
        <li class="opss-step-nav__step">
          <div class="opss-step-nav__header">
            <h3 class="opss-step-nav__title">
              <span class="opss-step-nav__circle opss-step-nav__circle--logic">
                <span class="opss-step-nav__circle-inner">
                  <span class="opss-step-nav__circle-background">
                    and
                  </span>
                </span>
              </span>
              Add <abbr title="Incident Management Team">IMT</abbr> to the case
            </h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1">
              … if the product is a high or serious risk, has been recalled or you need to notify overseas regulators.
            </p>
          </div>
        </li>
        <li class="opss-step-nav__step">
          <div class="opss-step-nav__header">
            <h3 class="opss-step-nav__title">
              <span class="opss-step-nav__circle opss-step-nav__circle--number">
                <span class="opss-step-nav__circle-inner">
                  <span class="opss-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> 4<span class="govuk-visually-hidden">:</span>
                  </span>
                </span>
              </span>
              Close the case
            </h3>
            <p class="govuk-body-s govuk-!-margin-bottom-1">
              … when you are satisfied you no longer need to add or change any information.
            </p>
          </div>
        </li>
      </ol>
    </div>

    <p class="govuk-body-l govuk-!-margin-bottom-0 opss-padding-bottom-4-mobile">
      <a href="[link to the All products-search page]" class="govuk-link govuk-link--no-visited-state govuk-!-display-inline-block">
        Search for the product
      </a>&nbsp;
      <svg class="govuk-button__start-icon govuk-!-margin-left-1 opss-keep-for-desktop" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true" focusable="false">
        <path fill="#1d70b8" d="M0 0h13l20 20-20 20H0l20-20z"></path>
      </svg>
    </p>
  </div>

  <div class="govuk-grid-column-one-third opss-equal-height__col">
    <div class="opss-equal-height-container__panel-1">
      <div class="opss-colour-block-title opss-colour-block-title--blue">
        <h2 class="govuk-heading-m">
          Find information
        </h2>
      </div>

      <p class="govuk-body">
        Find information about cases and products.
      </p>
    </div>
    <div class="opss-step-nav">
      <ol class="opss-step-nav__steps">
        <li class="opss-step-nav__step">
          <div class="opss-step-nav__header">
            <h3 class="opss-step-nav__title opss-brand-text">
              <span class="opss-step-nav__circle opss-step-nav__circle--number">
                <span class="opss-step-nav__circle-inner">
                  <span class="opss-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> A<span class="govuk-visually-hidden">:</span>
                  </span>
                </span>
              </span>

              Search for cases or products
            </h3>

            <p class="govuk-body-s govuk-!-margin-bottom-1">
              Search for products in the Products area and cases in the Cases area.
            </p>

            <p class="govuk-body-s govuk-!-margin-bottom-1 opss-secondary-text opss-font-size-14">
              You can also search for businesses in the Businesses area.
            </p>
          </div>
        </li>
      </ol>

      <p class="govuk-body-s govuk-!-margin-top-6 govuk-!-margin-bottom-3">
        Cases record information about supply chains, evidence, and corrective actions. A product record describes the product and is included within a case.
      </p>

      <ol class="opss-step-nav__steps">
        <li class="opss-step-nav__step">
          <div class="opss-step-nav__header">
            <h3 class="opss-step-nav__title opss-brand-text">
              <span class="opss-step-nav__circle opss-step-nav__circle--number">
                <span class="opss-step-nav__circle-inner">
                  <span class="opss-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> B<span class="govuk-visually-hidden">:</span>
                  </span>
                </span>
              </span>
              Product records
            </h3>

            <p class="govuk-body-s govuk-!-margin-bottom-2">
              Find a product and open it to view the product record.
            </p>

            <p class="govuk-body-s govuk-!-margin-bottom-2">
              This contains information and images about the product.
            </p>

            <p class="govuk-body-s govuk-!-margin-bottom-1">
              The cases section of a product record page <span class="govuk-!-font-weight-bold">shows all the cases which have included this product record</span>.
            </p>
          </div>
        </li>
      </ol>
      <ol class="opss-step-nav__steps">
        <li class="opss-step-nav__step">
          <div class="opss-step-nav__header">
            <h3 class="opss-step-nav__title opss-brand-text">
              <span class="opss-step-nav__circle opss-step-nav__circle--number">
                <span class="opss-step-nav__circle-inner">
                  <span class="opss-step-nav__circle-background">
                    <span class="govuk-visually-hidden">Step</span> C<span class="govuk-visually-hidden">:</span>
                  </span>
                </span>
              </span>
              Case pages
            </h3>

            <p class="govuk-body-s govuk-!-margin-bottom-2">
              Find a case and open it to view the case page.
            </p>

            <p class="govuk-body-s govuk-!-margin-bottom-2">
              The secondary navigation menu provides access to all the information that forms the case.
            </p>

            <p class="govuk-body-s govuk-!-margin-bottom-1">
              In the products page for a case, <span class="govuk-!-font-weight-bold">all the cases which include the product record</span> are shown. To view these, select the 'Cases' tab (in the body of the case products page).
            </p>
          </div>
        </li>
      </ol>
    </div>
  </div>

</section>

<hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">

<section class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <h2 class="govuk-heading-m">
      <%= link_to "Your cases", your_cases_investigations_path, class: "govuk-link govuk-link--no-visited-state" %>
    </h2>

    <p class="govuk-body">Cases you have created which are open.</p>
  </div>
  <div class="govuk-grid-column-one-quarter">
    <h2 class="govuk-heading-m">
      <%= link_to "All cases", all_cases_investigations_path, class: "govuk-link govuk-link--no-visited-state" %>
    </h2>

    <p class="govuk-body">All the cases in the <abbr>PSD</abbr>. Search for open or closed cases.</p>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <h2 class="govuk-heading-m">
      <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/guidance/notification-of-unsafe-and-noncompliant-products" target="_blank" rel="noreferrer noopener">Guidance <span class="govuk-visually-hidden">(Opens in a new tab)</span></a>
    </h2>

    <p class="govuk-body">When to use the <abbr>PSD</abbr>. <br class="opss-br-desktop"><span class="opss-secondary-text opss-font-size-14">(Opens in a new tab).</span></p>
  </div>

  <div class="govuk-grid-column-one-quarter">
    <h2 class="govuk-heading-m">
      <a class="govuk-link govuk-link--no-visited-state" href="#" target="_blank" rel="noreferrer noopener">How to use the <abbr>PSD</abbr> <span class="govuk-visually-hidden">(Opens in a new tab)</span></a>
    </h2>

    <p class="govuk-body">How to use this digital service. <br class="opss-br-desktop"><span class="opss-secondary-text opss-font-size-14">(Opens in a new tab).</span></p>
  </div>
</section>
