<% title = "Reset your password" %>
<% content_for :page_title, title %>

<% content_for :after_header do %>
  <%= govukBackLink(text: "Back", href: root_path) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l"><%= title %></h1>

    <p class="govuk-body">Enter the email address that you used to register. We will send you an email with a link to reset your password.</p>

    <%= render "components/govuk_input", id: "email", name: "email", type: "email", classes: "app-!-max-width-two-thirds", label: { text: "Email address" } %>

    <%= govukButton(text: "Send email") %>

  </div>
</div>
