<% title = "Resend security code" %>
<% content_for :page_title, title %>

<% content_for :after_header do %>
  <%= govukBackLink(text: "Back", href: two_factor_path) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l"><%= title %></h1>

    <p class="govuk-body">Text messages sometimes take a few minutes to arrive. If you do not receive the text message, you can resend it.</p>

    <p class="govuk-body">If you no longer have access to the phone with the number you registered for this service, contact <%= mail_to t(:enquiries_email), nil, subject: "Update mobile number", class: "govuk-link" %> to reset the number.</p>

    <%= govukButton(text: "Resend security code") %>

  </div>
</div>
