<% content_for :page_title, "Sign in" %>


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Two Factor</h1>

    <%= govukButton(text: "Continue") %>

  </div>
</div>
