<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">
    <%= edit.collaborator.name %>
    <%= render "collaboration/case_creator_label" if edit.creator_team? %>
  </th>
  <td class="govuk-table__cell">Edit full notification</td>
  <td class="govuk-table__cell app-table__cell--align-right">
    <% if policy(edit.investigation).manage_collaborators? %>
      <%= link_with_hidden_text_to "Change", "#{edit.collaborator.name}'s permission level",  edit_investigation_collaborator_path(edit.investigation, edit) %>
    <% end %>
  </td>
