<%= render "investigations/pages_top" %>
<%= investigation_sub_nav(@investigation, current_tab: 'supporting-informations') %>
<%= render "investigations/tabs/supporting_informations" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <th class="govuk-table__header">Activity</th>
        <th class="govuk-table__header">Type</th>
        <th class="govuk-table__header">Date of activity</th>
        <th class="govuk-table__header">Date added</th>
      </thead>
      <tbody class="govuk-table__body">
        <% @activities.each do |activity| %>
          <%= render "activity_table_row", activity: activity %>
        <% end %>
      </tbody>
    </table>
      <%#= render @activities %>
  </div>
</div>
