<div class="govuk-body">
  <p>Changes:</p>
  <% if activity.reported_reason_changed? %>
    Reported as: <b><%= I18n.t(".investigations.overview.safety_and_compliance.activity_log.#{activity.new_reported_reason}") %></b><br>
  <% end %>

  <% if activity.hazard_type_changed? %>
    Primary hazard: <b><%= activity.new_hazard_type %></b><br>
  <% end %>

  <% if activity.hazard_description_changed? %>
    Hazard description: <b><%= activity.new_hazard_description %></b><br>
  <% end %>

  <% if activity.non_compliant_reason_changed? %>
    Compliance: <b><%= activity.new_non_compliant_reason %></b><br>
  <% end %>
</div>
