<h4 class="govuk-heading-s">Complainant</h4>

<%# Teams not involved in a case can know complainant type %>
<% if complainant.complainant_type %>
  <p class="govuk-body">
    Type: <strong><%= complainant.complainant_type %></strong>
  </p>
<% end %>

<%# Teams not involved in a case shouldn't complianant contact details %>
<% if !policy(@investigation).view_protected_details? %>
  <p class="govuk-body govuk-hint"><%= t("case.protected_details", data_type: "case contact details") %></p>

<% else %>
  <% complainant_info = [] %>

  <% if complainant.name.present? %>
    <% complainant_info << "Name: <strong>#{escape_once(complainant.name)}</strong>" %>
  <% end %>

  <% if complainant.phone_number.present? %>
    <% complainant_info << "Phone number: <strong>#{escape_once(complainant.phone_number)}</strong>" %>
  <% end %>

  <% if complainant.email_address.present? %>
    <% complainant_info << "Email address: <strong>#{escape_once(complainant.email_address)}</strong>" %>
  <% end %>

  <% if complainant.other_details.present? %>
    <% complainant_info << "Other details: <strong>#{escape_once(complainant.other_details)}</strong>" %>
  <% end %>

  <% if complainant_info.any? %>
    <p class="govuk-body">
      <%= complainant_info.join("<br />").html_safe %>
    </p>
  <% end %>

<% end %>
