<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds opss-desktop-min-height--s">

      <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
          All businesses – Search
      </h1>

      <p class="govuk-body opss-secondary-text">
        Search all business records in the Product Safety Database (<%= psd_abbr title: false %>).
      </p>

      <%= govukDetails(summaryText: "Help with the businesses search", classes: "opss-details--sm") do %>
        <p class="govuk-body-s govuk-!-margin-bottom-1">
          <span id="search-hint">You can search for one or more businesses using the keywords that describe them or search for a specific business by using its company number.</span> You can also sort the ordering of the search results.
        </p>

        <p class="govuk-body-s govuk-visually-hidden">
          Search results appear within the following <code>form</code> and within the <code>role = region</code>.
        </p>
      <% end %>
  </div>
</div>
