<% content_for :page_title, "Are you sure you want delete this risk assessment?" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @prism_risk_assessment, url: delete_risk_assessment_tasks_path(back_to: params[:back_to]), method: :delete do |f| %>
      <h1 class="govuk-heading-l">
        Are you sure you want delete this risk assessment?
      </h1>
      <p class="govuk-body">This action will permanently remove the risk assessment from the system and cannot be undone. Please ensure that you want to proceed with this deletion.</p>
      <div class="govuk-button-group">
        <%= f.govuk_submit "Delete risk assessment", warning: true %>
        <a href="<%= params[:back_to] == "dashboard" ? main_app.your_prism_risk_assessments_path : risk_assessment_tasks_path(@prism_risk_assessment) %>" class="govuk-link">Cancel</a>
      </div>
    <% end %>
  </div>
</div>
