<% content_for :page_title, "Search or add a new product" %>
<% @back_link_href = risk_assessment_tasks_path(@prism_risk_assessment) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @prism_risk_assessment, url: wizard_path, method: :patch do |f| %>
      <%= f.govuk_error_summary %>
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Define the product</span>
        Have you previously searched and found the same product on the PSD?
      </h1>
      <p class="govuk-body">This is a placeholder page.</p>
      <%= f.govuk_submit "Save and continue" do %>
        <%= f.govuk_submit "Save as draft", secondary: true, name: "draft", value: "true" %>
      <% end %>
    <% end %>
  </div>
</div>
