- page_heading = title

= page_title page_heading, errors: model.errors.any?

- scope ||= nil
= form_with model: model, scope: scope, url: wizard_path, method: :put, local: true do |form|
  .govuk-grid-row
    .govuk-grid-column-two-thirds-from-desktop
      = render "form_components/govuk_error_summary", form: form
      span.govuk-caption-l Report an unsafe or non-compliant product
      h1.govuk-heading-l
        = page_heading
      = yield(form)

      hr.govuk-section-break class=("govuk-section-break--visible govuk-section-break--m" unless hide_break)

      - # noinspection RubySimplifyBooleanInspection
      = render "form_components/govuk_radios",
               form: form,
               key: further_key,
               fieldset: { legend: { text: other_text, classes: "govuk-fieldset__legend--m" } },
               items: [{ text: "Yes", value: "Yes", checked: @repeat_step },
                       { text: "No", value: "No", checked: (@repeat_step == false) }]
      = form.submit "Continue", class: "govuk-button"
      .govuk-body
        = form.submit "Skip this page", class: "button-link", role: "link"
