.govuk-grid-row
  .govuk-grid-column-two-thirds-from-desktop
    h2.govuk-heading-m Cases

.govuk-grid-row
  .govuk-grid-column-full
    = render "investigations_summary", investigations: @product.investigations
