NOTIFY_API_KEY=6eb625ef-7df2-45d7-ab42-1bc528823f55.6d0fc2cf-633f-42ba-97eb-63c96d254aca
NOTIFY_SMS_TEMPLATE_ID=

DATABASE_URL=postgres://postgres@localhost:5432/

KEYCLOAK_AUTH_URL=http://localhost:8080/auth
KEYCLOAK_CLIENT_ID=psd-app
KEYCLOAK_CLIENT_SECRET=

REDIS_URL=redis://localhost:6379

ELASTICSEARCH_URL=http://localhost:9200

EMAIL_WHITELIST_ENABLED=false

ANTIVIRUS_URL=http://localhost:3006/safe
ANTIVIRUS_USERNAME=av
ANTIVIRUS_PASSWORD=password

KEYCLOACK_REDIRECT_URI=http://localhost:3000/users/auth/openid_connect/callback
