// Custom width overrides so inputs can be fixed width regardless of resolution.

// Widths are constant rather than being % of column so that
// they relate to the size of the content they contain. Applies from tablet
// breakpoint only so they go full width on mobile to match other GOV.UK
// services.
@include govuk-media-query($from: tablet) {

  // Widths chosen by eye to correspond to govuk widths at desktop 960px.
  // Using ex to match govuk fixed width inputs, so they will scale acording
  // to font size.
  .app-\!-max-width-three-quarters {
    max-width: 50ex !important;
  }

  .app-\!-max-width-two-thirds {
    max-width: 44ex !important;
  }

  .app-\!-max-width-one-half {
    max-width: 33ex !important;
  }

  .app-\!-max-width-one-third {
    max-width: 22ex !important;
  }

  .app-\!-max-width-one-quarter {
    max-width: 17ex !important;
  }

}
