<% content_for :page_title, "Perform risk triage" %>
<% @back_link_href = params[:id].present? ? full_risk_assessment_required_path(params[:id]) : root_path %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Perform risk triage</h1>
    <p class="govuk-body">The purpose of risk triage is to sense check whether a detailed risk assessment is required and to give an early indication of what the risk level is likely to be.</p>
    <p class="govuk-body">The <abbr title="Product Safety Risk Assessment Methodology">PRISM</abbr> triage guide will take you through necessary steps needed to determine whether your product requires an assessment.</p>
    <p class="govuk-body"><a href="/files/prism-toolkit-risk-triage.xlsm" class="govuk-link" download>Undertake risk triage using the PRISM triage guide (EXCEL, 120KB)</a></p>
  </div>
</div>
