<% title = "Check your email" %>
<% page_title(title) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Check your email</h1>

    <p class="govuk-body">
      Product Safety Database accounts are locked after 3 months of inactivity.
    </p>
    <p class="govuk-body">
      Your Product Safety Database account has now been locked and you will not be able to access the Product Safety Database.
    </p>
    <p class="govuk-body">
      We have sent you an email with a link to unlock your account. If you still need access, use the link in the email to unlock your account.
    </p>
  </div>
</div>
