<% title = "Check your email" %>
<% page_title(title) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Check your email</h1>

    <p class="govuk-body">
      Your account has been locked because it has not been used for a long time.
    </p>
    <p class="govuk-body">
      We’ve sent you an email with details. Use the link in the email to unlock your account.
    </p>
  </div>
</div>
