.product-summary[class="govuk-!-margin-top-3 govuk-!-margin-bottom-6"]
  .govuk-grid-row
    .govuk-grid-column-two-thirds
      h2.govuk-heading-m
        = product.name
  .govuk-grid-row
    .govuk-grid-column-one-third
      - if product.images.any?
        = render "documents/document_preview",
                 document: product.images.first,
                 dimensions: "300x500",
                 class_name: "product-image app-document-preview--medium"
      - else
        p.govuk-body
          | No images

    .govuk-grid-column-two-thirds
      = product.decorate.summary_list
      = yield
