
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">
      VerifyKeycloak - only for review app!
    </h1>

    <% if request.post? %>
      <% if @resource.verify! %>
        <div style="border: 2px solid green; padding-left: 20px">
          <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
            Password is OK
          </h2>
        </div>
      <% else %>
        <div style="border: 2px solid red; padding-left: 10px">
          <h2 class="heading-medium error-summary-heading" id="error-summary-heading">
            Password is WRONG
          </h2>
        </div>
      <% end %>
    <% end %>

    <%= form_for(@resource, url: "/verify_keycloak") do |f| %>
      <%= render "components/govuk_input", id: "email", name: "user[email]", type: "email", classes: "app-!-max-width-two-thirds", label: { text: "Email address" } %>

      <%= render "components/govuk_input", id: "password", name: "user[password]", type: "password", classes: "app-!-max-width-two-thirds", label: { text: "Password" } %>


      <%= f.button(text: "Test credentials", class: 'submit') %>
    <% end %>
  </div>
</div>
