<div class="govuk-grid-column-one-third">
  <div class="opss-text-align-right govuk-!-margin-bottom-8">
    <%= link_to "Create a case",
      create_a_case_page_index_path,
      class: "govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-underline-offset",
      data: { cy: "create-case" }
    %>
  </div>
</div>
