<div class="govuk-grid-column-one-quarter govuk-!-padding-right-1">
  <div class="govuk-!-margin-bottom-0">
    <h2 class="govuk-heading-m">Filters<span class="govuk-visually-hidden">:</span></h2>

    <%= govukSkipLink(text: "Skip to results", href: "#results") %>

    <%= render "investigations/coronavirus_and_risk_level_checkbox", form: form %>

    <%= form.submit "Apply filters", name: nil, class: "govuk-button" %>
  </div>
</div>
