<% content_for :after_header do %>
  <% if content_for?(:back_link) || has_badges?(investigation) %>
    <div class="govuk-grid-row">
      <% if content_for?(:back_link) %>
        <div class="govuk-grid-column-one-half">
          <%= yield :back_link %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
