<% content_for :after_header do %>
  <% if content_for?(:back_link) || has_badges?(investigation) %>
    <div class="govuk-grid-row">
      <% if content_for?(:back_link) %>
        <div class="govuk-grid-column-one-half">
          <%= yield :back_link %>
        </div>
      <% end %>

      <% if has_badges?(investigation) %>
        <div class="<%= content_for?(:back_link) ? "govuk-grid-column-one-half" : "govuk-grid-column-full" %> psd-case__status-area govuk-!-margin-bottom-0">
          <%= render "investigations/case_badges",
          investigation: investigation,
          classes: "hmcts-badge--aligned-right-from-tablet" %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
