<div class="govuk-grid-column-one-third">
  <div class="govuk-form-group opss-text-align-right">
    <fieldset id="sort-by-fieldset" class="opss-border-none govuk-!-padding-0">
      <%= form.label :sort_by, class: "govuk-label govuk-body-s" %>
      <%= form.select :sort_by, search.sort_by_items, {}, { class: "govuk-select govuk-!-margin-bottom-1" } %>
      <button class="govuk-button opss-js-enabled-hidden" data-module="govuk-button">
        Sort
      </button>
    </fieldset>
  </div>
</div>
