<div id="hazard-type-auto-complete-container"></div>
<div class="govuk-!-width-one-half govuk-!-margin-bottom-6">
  <%= form.govuk_collection_select :hazard_type,
                                   [OpenStruct.new(value: "", type: "")] + hazard_types.map {|type| OpenStruct.new(value: type, text: type, attributes: {class: "govuk-!-font-size-16"})},
                                   :value,
                                   :text,
                                   label: { text: "What is the primary hazard?" } %>
</div>

<%= form.govuk_text_area :hazard_description,
                         label: { text: "Why is the product unsafe?" },
                         hint: { text: "If the product has been involved in an incident include this additional information." },
                         max_chars: 10000,
                         width: "three-quarters" %>
