<div id="hazard-type-auto-complete-container"></div>
<div class="govuk-!-width-one-half govuk-!-margin-bottom-6">
  <%= govukSelect(
        items: hazard_types.map {|type| {text: type, value: type, attributes: {class: "govuk-!-font-size-16"}}},
        key: :hazard_type,
        form: form,
        show_all_values: true,
        aria_describedby: "hazard-type-category-hint", label: { text: "What is the primary hazard?" },
        id: "hazard_type",
        include_blank: true,
        is_autocomplete: false
  ) %>
</div>
<%= govukTextarea(
      key: :hazard_description, form: form,
      attributes: { maxlength: 10000 },
      label: { text: "Why is the product unsafe?" },
      hint: { text: "If the product has been involved in an incident include this additional information.", classes: "govuk-!-font-size-16" },
      id: "hazard_description",
      classes: "govuk-!-width-three-quarters"
) %>
