- page_heading = "Case created"

= page_title page_heading

- banner_content = capture do
  h1.govuk-heading-l = page_heading
  p.govuk-body = "Case ID: #{@investigation&.pretty_id}"
  p.govuk-body
    ' A confirmation email has been sent to
    strong = current_user.email
    | .
.govuk-grid-row
  .govuk-grid-column-two-thirds-from-desktop
    = render "components/hmcts_banner", html: banner_content
    p.govuk-body
      / TODO: this should be the case owner, shown as 'you' if the case owner
      / is the case creator.
      ' You are now the case owner for
      strong = @investigation.title
      | .
    p.govuk-body If you need to, you can add more information later.

    = link_to "View case",
              investigation_path(@investigation),
              class: "govuk-button",
              role: "button"

    div
      = link_to "Home", root_path_for(current_user), class: "govuk-link app-block-link govuk-body"
