ruby:
  restricted = !can_be_displayed?(document, parent)
  title = restricted ? document_restricted_title : document.title
  safe = document.metadata["safe"]
  document = document.decorate

.govuk-grid-row[class="govuk-!-padding-bottom-6"]
  .govuk-grid-column-one-quarter
    = render "documents/document_preview", document: document, dimensions: "300x200", restricted: restricted
  .govuk-grid-column-three-quarters
    h2.govuk-heading-m[class="govuk-!-margin-bottom-1"]
      = title
    span.govuk-hint[class=" govuk-!-font-size-16"]
      = formatted_file_updated_date(document)
    - if restricted
      p = render "components/hmcts_badge", text: "Restricted access", classes: "hmcts-badge--grey"
      p = document_restricted_body
    - else
      p.govuk-body = document.description

      - if safe
        = link_with_hidden_text_to "View #{pretty_type_description(document)}",
                                   "(#{title}, opens in a new window)",
                                   document,
                                   class: "govuk-link app-block-link govuk-!-margin-right-3",
                                   target: '_blank',
                                   rel: 'noopener'
        = link_with_hidden_text_to "Edit #{image_document_text(document)}",
                                   "(#{title})",
                                   edit_associated_document_path(parent, document),
                                   class: "govuk-link app-block-link govuk-!-margin-right-3"
        = link_with_hidden_text_to "Remove #{image_document_text(document)}",
                                   "(#{title})",
                                   remove_associated_document_path(parent, document),
                                   class: "govuk-link app-block-link"
