<div class="app-document-preview__placeholder" aria-hidden="true">
  <%= image_tag "document_placeholder.png", alt: "" %>
  <span class="app-document-preview__filetype">
    <%= file_extension %>
  </span>
</div>
