<% content_for :page_title, "Team statistics" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%=
      govuk_tabs(title: "Team reports") do |t|
        t.with_tab(label: "Top teams in PSD") do
          render partial: "top_teams"
        end
        t.with_tab(label: "Worst teams in PSD") do
          render partial: "bottom_teams"
        end
      end
    %>
  </div>
</div>
