<%= render "incomplete_bulk_products_upload_notification" %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      All notifications &ndash; Search
    </h1>
  </div>
  <%= render "investigations/create_a_notification_link" %>
</div>
