<p class="govuk-body">
  <%= activity.metadata['reason'] %>
</p>

<% if activity.product_id %>
  <% product = Product.find(activity.product_id) %>
  <%= link_to "View product details", product.decorate.activity_view_link(activity.created_at.to_i), class: "govuk-link psd-block-link govuk-link--no-visited-state" %>
<% end %>
