<p class="govuk-body">
  <%= activity.metadata['reason'] %>
</p>

<% if activity.product_id %>
  <%= link_to "View product details", product_url(activity.product_id), class: "govuk-link psd-block-link" %>
<% end %>
