// Hide or show based on breakpoint

// Mixins - use these for custom components

// Hide on mobile
@mixin app-display-mobile--hide {
  @include govuk-media-query($until: tablet) {
    display: none;
  }
}

// Only on mobile
@mixin app-display-mobile--only {
  @include govuk-media-query($from: tablet) {
    display: none;
  }
}

// Hide on tablet
@mixin app-display-tablet--hide {
  @include govuk-media-query($from: tablet, $until: desktop) {
    display: none;
  }
}

// Only on tablet
@mixin app-display-tablet--only {
  @include govuk-media-query($from: desktop) {
    display: none;
  }

  @include govuk-media-query($until: tablet) {
    display: none;
  }
}

// Hide on desktop
@mixin app-display-desktop--hide {
  @include govuk-media-query($from: desktop) {
    display: none;
  }
}

// Only on desktop
@mixin app-display-desktop--only {
  @include govuk-media-query($until: desktop) {
    display: none;
  }
}

// Override classes for html

// Hide on mobile
.app-\!-display-mobile--hide {
  @include govuk-media-query($until: tablet) {
    display: none !important;
  }
}

// Only on mobile
.app-\!-display-mobile--only {
  @include govuk-media-query($from: tablet) {
    display: none !important;
  }
}

// Hide on tablet
.app-\!-display-tablet--hide {
  @include govuk-media-query($from: tablet, $until: desktop) {
    display: none !important;
  }
}

// Only on tablet
.app-\!-display-tablet--only {
  @include govuk-media-query($from: desktop) {
    display: none !important;
  }

  @include govuk-media-query($until: tablet) {
    display: none !important;
  }
}

// Hide on desktop
.app-\!-display-desktop--hide {
  @include govuk-media-query($from: desktop) {
    display: none !important;
  }
}

// Only on desktop
.app-\!-display-desktop--only {
  @include govuk-media-query($until: desktop) {
    display: none !important;
  }
}
