.image-select {
  .govuk-checkboxes__item {
    border-bottom: 1px solid #b1b4b6;
    padding-bottom: 40px;
    margin-bottom: 20px;

    .opss-checkboxes-thumbnails_img {
      display: block;
      width: 100px;
      height: 75px;
      background-repeat: no-repeat;
      background-size: contain;
      position: absolute;
      top: 0;
      right: 0;
    }
  }
}
