g<h3 class="govuk-heading-s">summary of the phone call</h3>

<p class="govuk-body">
  <%= activity.phone_number %>
  <br />
  <strong><%= activity.correspondence_date %></strong>
  <br />
  <%= activity.attached %>
  <% if activity.correspondence.details.present? %>
    <br />
    <%= activity.correspondence.details %>
  <% end %>
</p>
