<% if investigation.is_private? || investigation.is_closed? || investigation.coronavirus_related? %>
  <div class="psd-case-card__status-area">
    <%= render "investigations/case_badges", investigation: investigation, classes: "psd-case-card__badge" %>
  </div>
<% end %>
