<% page_heading =  "Add accident or incident" %>
<%= page_title page_heading %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l"><%= page_heading %></h1>
    <p>You need to <%= link_to "add a product to the notification", new_investigation_product_path(@investigation) %> before you can add an accident or incident.</p>
  </div>
</div>
