<%= page_title "Report products" %>
<div class="app-introduction-card">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l app-introduction-card__title">
        The Product Safety Database replaces the EU’s RAPEX and ICSMS systems
      </h1>
      <p class="govuk-body-l app-introduction-card__description">
        You must use the database to tell OPSS immediately about corrective actions that have been or will be taken because a product is:
      </p>
      <ul class="govuk-list govuk-list--bullet govuk-body-l app-introduction-card__description">
        <li>unsafe (according to the General Product Safety Regulations 2005)</li>
        <li>poses a serious risk (as determined by a risk assessment)</li>
      </ul>
      <p class="govuk-body-l app-introduction-card__description">
        You should use the database to report products that do not comply with relevant product safety legislation as soon as possible.
      </p>
      <div class="govuk-button-group">
        <%= govuk_button_link_to("Continue", introduction_track_investigations_path, inverse: true) %>
        <a href="<%= introduction_skip_path %>" class="govuk-link govuk-link--inverse">Skip introduction</a>
      </div>
    </div>
  </div>
</div>
