<%= page_title "Share data" %>
<% content_for :after_header do %>
  <%= render "skip_introduction" %>
<% end %>

<div class="app-inverted app-inverted--card">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l app-heading-l--inverted">
        Share national data to improve product safety in the UK
      </h1>
      <p class="govuk-body-l app-body-l--inverted">
        The information shared in the Product safety database can only be seen by other market surveillance authorities (MSAs).
      </p>

      <p class="govuk-body-l app-body-l--inverted govuk-!-margin-bottom-3">
        Collaborating and sharing data in this way means you can see when other MSAs have:
      </p>

      <ul class="govuk-list govuk-list--bullet govuk-body-l app-body-l--inverted">
        <li>raised concerns about the safety of a product</li>
        <li>tested a product and shared the results</li>
      </ul>

      <%= govukButton(
        text: "Get started",
        href: root_path_for(current_user),
        classes: "app-button--inverted app-button--l govuk-!-margin-right-3 govuk-!-margin-bottom-3"
      ) %>

      <p class="govuk-body-l app-body-l--inverted app-body--adjacent-to-button app-body--adjacent-to-button--l govuk-!-margin-bottom-0">
        or
        <%= link_to "read more information",
          help_about_path,
          class: "govuk-link app-link--inverted" %>
      </p>
    </div>
  </div>
</div>
