= page_title "Share data"
- content_for :after_header do
  = render "skip_introduction"

.app-inverted.app-inverted--card
  .govuk-grid-row
    .govuk-grid-column-two-thirds-from-desktop
      h1.govuk-heading-l.app-heading-l--inverted
        | Share national data to improve product safety in the UK
      p.govuk-body-l.app-body-l--inverted
        | The information shared in the Product safety database can only be
          seen by other market surveillance authorities (MSAs).

      p.govuk-body-l.app-body-l--inverted class="govuk-!-margin-bottom-3"
        | Collaborating and sharing data in this way means you can see when
          other MSAs have:

      ul.govuk-list.govuk-list--bullet.govuk-body-l.app-body-l--inverted
        li raised concerns about the safety of a product
        li tested a product and shared the results

      = link_to "Get started",
                root_path_for(current_user),
                class: "govuk-button app-button--inverted app-button--l \
                        govuk-!-margin-right-3 govuk-!-margin-bottom-3",
                role: "button",
                draggable: false
      - link_classes = ["govuk-body-l app-body-l--inverted \
        app-body--adjacent-to-button app-body--adjacent-to-button--l \
        govuk-!-margin-bottom-0"]
      p class=link_classes
        ' or
        = link_to "read more information",
                  help_about_path,
                  class: "govuk-link app-link--inverted"
