$govuk-global-styles: true;
$govuk-assets-path: '~govuk-frontend/govuk/assets/';
@import "~govuk-frontend/govuk/all";

@import "remove-default-button-styling";
@import "autocomplete";
@import "badge";
@import "banner";
@import "button";
@import "search-box";
@import "header";
@import "text";
@import "cookie-banner";

@import "autocomplete";
@import "block-link";
@import "buttons";
@import "case-card";
@import "documents";
@import "email_display";
@import "flashcard";
@import "footer";
@import "form";
@import "images";
@import "teams";
@import "pagination";
@import "shared";
@import "sortable_columns";
@import "summary_table";
@import "timeline";
@import "psd_header";

* {
  box-sizing: border-box;
}

@media print {
  .no-print {
    display: none !important; // sass-lint:disable-line no-important
  }
}

.search-background {
  background-color: govuk-colour("light-grey");
}

.right {
  float: right;
  margin-left: 2em;
}

.row-border-top {
  padding-top: 2em;
  border-top: 1px solid govuk-colour("light-grey");
}
