<% title = "No mobile number for this account" %>
<% page_title(title) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l"><%= title %></h1>

    <p class="govuk-body">This account does not have a mobile number set up. Mobile numbers are required for account security. Speak to your Product Safety Database team admin or <%= mail_to t(:enquiries_email), "email OPSS", class: "govuk-link" %> to add it.</p>
  </div>
</div>
