<% title = "Teams added to the notification" %>
<% page_title title %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l"><%= title %></h1>
    <% if policy(@investigation).manage_collaborators? %>
      <%= govukButton(
        text: "Add a team to the notification",
        href: new_investigation_collaborator_path(@investigation))
      %>
    <% end %>

    <table class="govuk-table">
      <caption class="govuk-table__body govuk-visually-hidden">Teams added to the notification</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Team name</th>
          <th scope="col" class="govuk-table__header">Permission level</th>
          <th scope="col" class="govuk-table__header"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <%= render @collaborators %>
      </tbody>
    </table>

    <%= permission_notice(text: "Only the notification owner can add teams to the notification.") %>
  </div>
</div>
