<% page_heading = @corrective_action.summary %>
<% page_title page_heading %>

<% content_for :back_link do %>
  <%= govukBackLink(
    text: "Back to #{@investigation.decorate.pretty_description.downcase}",
    href: investigation_action_path(@investigation, @corrective_action)
  ) %>
<% end %>

<%= render "investigations/pages_top", investigation: @investigation %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @corrective_action, scope: :corrective_action, url: investigation_test_result_path(@investigation, @corrective_action) do |form| %>
      <%= render "form_components/govuk_error_summary", form: form %>
    <% end %>
  </div>
</div>
