<% content_for :page_title, @notification.pretty_id %>
<% @back_link_href = search_results_notification_administration_index_path(q: params[:q]) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%=
      govuk_tabs(title: "Notification management") do |t|
        t.with_tab(label: "Notification details") do
          render partial: "notification_details"
        end
        t.with_tab(label: "Activity log") do
          render partial: "activity_log"
        end
      end
    %>
  </div>
</div>
