<% title = "You have changed your password successfully" %>
<% page_title title %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l"><%= title %></h1>
    <p class="govuk-body"><%= govuk_button_link_to("Continue", unauthenticated_root_path) %></p>
  </div>
</div>
