<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" %>
    <%= banner do %>
      <p>Coronavirus (COVID-19): OPSS is urging all market surveillance authorities to prioritise coronavirus-related cases above other work.</p>

      <p>
        <%= link_to "https://www.gov.uk/guidance/opss-coronavirus-covid-19-guidance-for-business-and-local-authorities" do %>
          Read more<span class="govuk-visually-hidden"> about the coronavirus guidance for local authorities</span> on GOV.UK
        <% end %>
      </p>
    <% end %>
  </div>
</div>
