<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <%= render supporting_information_row.activity_cell_partial(current_user), supporting_information_row: supporting_information_row %>
  </td>
  <td class="govuk-table__cell">
    <%= supporting_information_row.supporting_information_type %>
  </td>
  <td class="govuk-table__cell">
    <%= supporting_information_row.date_of_activity %>
  </td>
  <td class="govuk-table__cell">
    <%= supporting_information_row.date_added %>
  </td>
</tr>
