// Custom colours used by the service

// Temporary colour used for badges and banners for the coronavirus (COVID-19) outbreak
$coronavirus-colour: govuk-colour("pink");

// This is used for buttons that appear on a light grey background.
$case-bar-secondary-colour: #dee0e2;
$case-bar-secondary-hover-colour: govuk-shade($case-bar-secondary-colour, 20%);
