.app-identity-bar .app-identity-bar__title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-identity-bar .app-identity-bar__case-id {
  margin-right: 10px;
}

.app-identity-bar .hmcts-identity-bar__container {
  text-align: left;
}

.app-identity-bar .hmcts-identity-bar__actions {
  margin-top: 10px;
}

@include govuk-media-query($from: tablet) {
  .app-identity-bar .hmcts-identity-bar__actions {
    margin-top: 0;
    display: block;
    float: right;
  }
}
