.app-identity-bar .app-identity-bar__details {
  display: block;
}

.app-identity-bar .app-identity-bar__title {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
