.pagination {

  @include govuk-responsive-margin(6, "bottom");
  @include govuk-responsive-margin(6, "top");

  // Direct children of pagination only
  > * {
    @include govuk-font(19);
    font-style: normal; //override emphasis styling
    display: inline-block;
    margin-bottom: govuk-spacing(2);

    // Squarish box around the item
    padding-left: govuk-spacing(2);
    padding-right: govuk-spacing(2);
    padding-top: govuk-spacing(1);
    padding-bottom: govuk-spacing(1);

  }

  // Make links more descriptive
  // TODO: render these in the page
  a:not(.next_page):not(.previous_page)::before {
    @include govuk-visually-hidden;
    content: "Page ";
  }

  // Light grey box on hover - to match GOV.UK pagination
  a:hover {
    background: govuk-colour("light-grey");
  }

  a:hover:focus {
    background: $govuk-focus-colour;
  }

  // will_paginate shows unnecessary text 'previous' and 'next'
  // even if you're on the first or last page.

  // scss-lint:disable SelectorFormat
  .previous_page.disabled,
  .next_page.disabled {
    display: none;
  }
  // sass-lint:enable SelectorFormat

}
