// Summary list (https://design-system.service.gov.uk/components/summary-list/)

// Override to make the keys appear in regular font weight
.app-summary-list--key-weight-regular {
  .govuk-summary-list__key {
    @include govuk-typography-weight-regular;
  }
}

// Override to make the actions appear on their own line rather than
// inline with a vertical line separating them.
.app-summary-list--actions-on-own-line .govuk-summary-list__actions-list-item {
  display: block;
  padding-right: 0;
  margin-right: 0;
  border-right-width: 0;
}
