// Banner
//
// Use this to display temporary site-wide messages.
//
.app-banner {

  @include govuk-responsive-padding(4);
  @include govuk-responsive-margin(3, "top");
  @include govuk-responsive-margin(7, "bottom");

  border-width: 5px;
  border-style: solid;
  color: $govuk-brand-colour; // default colour
}

.app-banner__message {

  // Constrain the line width
  max-width: 110ex;

  &,
  * {
    @include govuk-font(24, $weight:bold);
  }

  *,
  a:link,
  a:active,
  a:visited {
    color: inherit;
  }

  a:focus,
  a:hover:focus {
    @include govuk-focused-text;
  }

  a:hover {
    color: $govuk-link-hover-colour;
  }

  >:last-of-type {
    margin-bottom: govuk-spacing(0);
  }

}
