$image-border-colour: rgba($govuk-text-colour, .15);

// TODO: don't think .image-list is used;
.image-list {
  .image-preview {
    vertical-align: top;
  }

  .image-details {
    vertical-align: top;

    .image-title,
    .image-updated {
      display: inline-block;
    }

    .image-description {
      margin-bottom: 0.5em;
    }

    .edit-image-link {
      display: block;
    }

    .delete-image-link {
      margin-top: 0.5em;
    }
  }
}

.app-document-preview__image {

  max-width: 200px;

  @include govuk-media-query($from: tablet) {
    max-width: 300px;
  }

  img {
    background-color: govuk-colour("dark-grey");
    display: inline-block;

    // Subtle border around images
    outline: 1px solid $image-border-colour;
    outline-offset: -1px;

    // Make sure images don't get bigger than container
    max-width: 100%;
    max-height: 100%;
  }

}

.app-document-preview__image-without-preview {
  @extend %placeholder-content;
}

@mixin preview-image-size ($max-width) {
  .app-document-preview__image {
    max-width: $max-width;
    @if $max-width != inherit {
      max-width: $max-width * 0.75;
    }

    @include govuk-media-query($from: tablet) {
      max-width: $max-width;
    }
  }
}

// Override default size - fill container or 100% of image size
.app-document-preview--inherit {
  @include preview-image-size(inherit);
}

.app-document-preview--small {
  @include preview-image-size(200px);
}

.app-document-preview--medium {
  @include preview-image-size(250px);
}

.app-document-preview--large {
  @include preview-image-size(350px);
}
