$govuk-page-width: 1200px;
$govuk-global-styles: true;
$govuk-assets-path: '~govuk-frontend/govuk/assets/';
@import "~govuk-frontend/govuk/all";
@import "colours";

@import "autocomplete";
@import "badge";
@import "summary_list";
@import "permission_notice";
@import "stylesheets/text";
@import "stylesheets/cookie-banner";
@import "stylesheets/remove-default-button-styling";
@import "stylesheets/banner";
@import "stylesheets/hmcts_banner";
@import "stylesheets/button";
@import "stylesheets/block-link";
@import "stylesheets/case-card";
@import "stylesheets/documents";
@import "stylesheets/email_display";
@import "stylesheets/footer";
@import "stylesheets/form";
@import "stylesheets/header";
@import "stylesheets/helpers/js-only";
@import "stylesheets/helpers/field-widths";
@import "stylesheets/helpers/media-queries";
@import "stylesheets/helpers/password-manager-hidden";
@import "stylesheets/images";
@import "stylesheets/inverted";
@import "stylesheets/teams";
@import "stylesheets/pagination";
@import "stylesheets/search-box";
@import "stylesheets/shared";
@import "stylesheets/sortable_columns";
@import "stylesheets/summary_table";
@import "stylesheets/timeline";
@import "stylesheets/psd_header";
@import "stylesheets/sub_nav";

// Pages
@import "stylesheets/investigation";

* {
  box-sizing: border-box;
}

@media print {
  .no-print {
    display: none !important; // sass-lint:disable-line no-important
  }
}

.search-background {
  background-color: govuk-colour("light-grey");
}

.right {
  float: right;
  margin-left: 2em;
}

.row-border-top {
  padding-top: 2em;
  border-top: 1px solid govuk-colour("light-grey");
}
