$govuk-page-width: 1200px;
$govuk-global-styles: true;
$govuk-assets-path: '~govuk-frontend/govuk/assets/';
@import "~govuk-frontend/govuk/all";

$hmcts-page-width: $govuk-page-width;
$hmcts-gutter: $govuk-gutter;
$hmcts-gutter-half: $govuk-gutter-half;
@import "~@hmcts/frontend/objects/width-container";
@import "~@hmcts/frontend/components/hmcts-badge/badge";
@import "~@hmcts/frontend/components/hmcts-banner/banner";
@import "~@hmcts/frontend/components/hmcts-identity-bar/identity-bar";
@import "~@hmcts/frontend/components/hmcts-sub-navigation/sub-navigation";

@import "colours";

@import "autocomplete";
@import "badge";
@import "summary_list";
@import "permission_notice";
@import "stylesheets/text";
@import "stylesheets/cookie-banner";
@import "stylesheets/remove-default-button-styling";
@import "stylesheets/banner";
@import "stylesheets/button";
@import "stylesheets/block-link";
@import "stylesheets/case-bar";
@import "stylesheets/case-card";
@import "stylesheets/documents";
@import "stylesheets/email_display";
@import "stylesheets/footer";
@import "stylesheets/form";
@import "stylesheets/header";
@import "stylesheets/helpers/js-only";
@import "stylesheets/helpers/field-widths";
@import "stylesheets/helpers/media-queries";
@import "stylesheets/helpers/password-manager-hidden";
@import "stylesheets/images";
@import "stylesheets/inverted";
@import "stylesheets/table";
@import "stylesheets/teams";
@import "stylesheets/pagination";
@import "stylesheets/search-box";
@import "stylesheets/shared";
@import "stylesheets/timeline";
@import "stylesheets/psd_header";

// Pages
@import "stylesheets/investigation";

* {
  box-sizing: border-box;
}

@media print {
  .no-print {
    display: none !important; // sass-lint:disable-line no-important
  }
}

.right {
  float: right;
  margin-left: 2em;
}
