<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h2 class="govuk-heading-m">Attachments</h2>

    <p class="govuk-body">
      <%= link_to "Add attachment", new_document_flow_path(@business), class: "govuk-link" %>
    </p>

    <hr class="govuk-section-break govuk-section-break--m">

    <% if @business.documents.length.zero? %>
      <p class="govuk-body">
        No attachments
      </p>
    <% end %>
  </div>
</div>

<%= render "documents_list_summary", parent: @business %>
