<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h2 class="govuk-heading-m">Notifications</h2>

    <hr class="govuk-section-break govuk-section-break--m">
  </div>
</div>

<%= render "investigations_summary", investigations: @business.investigations %>
