.govuk-grid-row
  .govuk-grid-column-two-thirds-from-desktop
    h2.govuk-heading-m Cases

    hr.govuk-section-break.govuk-section-break--m

= render "investigations_summary", investigations: @business.investigations
