.govuk-grid-row
  .govuk-grid-column-two-thirds-from-desktop

    h2.govuk-heading-m Full detail

    p.govuk-body
      = link_to "Edit details", edit_business_path(@business), class: "govuk-link"

    hr.govuk-section-break.govuk-section-break--l

    = business_summary_list(@business)
