<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h2 class="govuk-heading-m">Notifications</h2>

    <hr class="govuk-section-break govuk-section-break--m">
  </div>
</div>

<% if @business.investigations.any? %>
  <% @business.investigations.each do |investigation| %>
    <% if policy(investigation).view_non_protected_details? %>
      <%= render "investigations/case_card", investigation: investigation.decorate, sorted_by: "recent" %>
    <% else %>
      <%= render "investigations/restricted_card", investigation: investigation.decorate %>
    <% end %>
  <% end %>
<% else %>
  <p class="govuk-!-margin-top-6">No notifications</p>
<% end %>
