<h2 class="govuk-heading-m">Notifications</h2>
<div style="text-align: left">
  <% if @business.submitted_investigation_businesses.any? %>
    <% @business.submitted_investigation_businesses.each do |investigation_business| %>
      <%=
        govuk_summary_list do |summary_list|
          investigation = investigation_business.investigation.decorate

          summary_list.with_row do |row|
            row.with_key(text: "Notification ID")
            row.with_value(text: formatted_notification_pretty_id(investigation.pretty_id))
          end
          summary_list.with_row do |row|
            row.with_key(text: "Title")
            row.with_value(text: sanitize(investigation.title))
          end

          summary_list.with_row do |row|
            row.with_key(text: "Owner")
            row.with_value(text: sanitize(investigation.owner_display_name_for(viewer: current_user)))
          end

          summary_list.with_row do |row|
            row.with_key(text: "Relationship")
            row.with_value(text: sanitize(investigation_business.relationship&.humanize || "-"))
          end

          summary_list.with_row do |row|
            row.with_key(text: "Last updated at")
            row.with_value(text: investigation.updated_at.to_formatted_s(:govuk))
          end
        end
      %>
    <% end %>
  <% else %>
    <p class="govuk-!-margin-top-6">No notifications</p>
  <% end %>
</div>
