---
:concurrency: <%= ENV.fetch("RAILS_MAX_THREADS") { 10 } %>
:queues:
  - <%= ENV['SIDEKIQ_QUEUE'] || "psd" %>
  - <%= ENV['SIDEKIQ_QUEUE'] || "psd" %>-mailers
:scheduler:
  :schedule:
    delete_unsafe_files_job:
      cron: "*/15 * * * *"
      class: "DeleteUnsafeFilesJob"
    log_db_metrics_job:
      cron: "*/15 * * * *"
      class: "LogDbMetricsJob"
    lock_inactive_users_job:
      cron: "0 1 * * *"
      class: "LockInactiveUsersJob"
    retire_stale_products_job:
      cron: "0 2 * * *"
      class: "RetireStaleProductsJob"
