<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds opss-desktop-min-height--s">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-2">
        All products – Search
    </h1>
    <p class="govuk-body opss-secondary-text">
      Search all product records in the Product Safety Database (<abbr>PSD</abbr>).
    </p>
    <%= govukDetails(summaryText: "Help with the Products search", classes: "opss-details--sm") do %>
      <p class="govuk-body-s">
        <span id="search-hint">You can search for one or more products by using the keywords that describe them or use a single <abbr>PSD</abbr> reference number to find a specific product record.</span> You can also sort the ordering of the search results.
      </p>
      <p class="govuk-body-s govuk-!-margin-bottom-1">
        You can filter the results by hazard type.
      </p>
      <p class="govuk-body-s govuk-visually-hidden">
        Search results appear within the following <code>form</code> and within the <code>role = region</code>.
      </p>
    <% end %>
  </div>
</div>
