- page_heading = "Activity"
= page_title "#{page_heading} - #{@investigation.pretty_id}"

.govuk-grid-row
  .govuk-grid-column-two-thirds-from-desktop

    span.govuk-caption-l = @investigation.pretty_description
    h1.govuk-heading-l
      = page_heading

    p.govuk-body
      = link_to "Add comment", new_investigation_activity_comment_path(@investigation)

    hr.govuk-section-break.govuk-section-break--m

.govuk-grid-row[class="govuk-!-padding-bottom-6"]
  .govuk-grid-column-two-thirds-from-desktop
    = render "activities_summary", activities: @activities
