<% page_heading = "Supporting informations" %>
<% page_title  "Supporting informations - #{@investigation.pretty_id}" %>

<div class="govuk-grid-row">
  <h1 class="govuk-heading-l"><%= page_heading %></h1>
  <p class="govuk-body">
    <%= link_to "Add supporting information", "#" %>
  </p>


</div>
