<%= page_title(t("notifications.create.index.sections.notification_details.tasks.add_product_notification_details.title"), errors: false) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l"><%= t("notifications.create.index.sections.notification_details.tasks.add_product_notification_details.title") %></h1>
  </div>
</div>
