<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    <%= render "image_uploads/image_preview",
             image: activity,
             dimensions: [100, 100],
             class_name: "product-image" %>
  </div>
</div>
