- page_title = "Add comment"
- page_title page_title, errors: @comment.errors.any?
- content_for :after_header do
  .govuk-grid-row
    .govuk-grid-column-one-third
      = link_to "Back to #{@investigation.pretty_description}",
                investigation_path(@investigation),
                class: "govuk-back-link"

.govuk-grid-row
  .govuk-grid-column-two-thirds
    = error_summary(@comment.errors)

    span.govuk-caption-l = @investigation.pretty_description

    = form_with(model: @comment,
                url: investigation_activity_comment_path(@investigation)) do |form|
      = render "form_components/govuk_textarea",
               key: :body,
               form: form,
               attributes: { maxlength: 10_000 },
               id: "body",
               label: { text: page_title, classes: "govuk-label--l", isPageHeading: true }
      = form.submit "Continue", class: "govuk-button"
