<%= page_title "Provide the business details", errors: @business_form.errors.any? %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(model: @business_form,
          url: investigation_businesses_path(@investigation),
          html: { autocomplete: :off }, builder: GOVUKDesignSystemFormBuilder::FormBuilder) do |form| %>

      <%= form.govuk_error_summary %>

      <h1 class="govuk-heading-l govuk-!-margin-bottom-8">Provide the business details</h1>
      <%= render "businesses/form", form: form, business: @business_form, countries: @countries, id_name: (@business_form.primary_location.country.blank? && (@business_form.errors.full_messages.include? "Country cannot be blank")) ? "add-business-to-notification-form-country-field-error" : "add-business-to-notification-form-country-field" %>
    <% end %>
  </div>
</div>
