<%= page_title "Provide the business details", errors: @business_form.errors.any? %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= form_with(model: @business_form,
          url: investigation_businesses_path(@investigation),
          local: true,
          html: { autocomplete: :off, novalidate: true }) do |form| %>

      <%= error_summary @business_form.errors %>

      <h1 class="govuk-heading-l govuk-!-margin-bottom-8">Provide the business details</h1>
      <%= render "businesses/form", form: form, business: @business_form, countries: @countries %>
    <% end %>
  </div>
</div>
