<div class="govuk-grid-row">
  <div class="govuk-grid-column-full" role="region" aria-label="Risk assessments">
    <p class="govuk-body opss-text-align-center">
      There are no <%= type %> risk assessments.
    </p>
  </div>
</div>
