<% if image.file_upload.variable? %>
  <% class_name ||= 'app-image' %>
  <%= image_tag image.file_upload.variant(resize_to_limit: dimensions), class: class_name, alt: image.title %>
<% else %>
  <span>Preview not available: <%= image.title %></span>
<% end %>
