<div class="app-document-preview__placeholder" aria-hidden="true">
  <% if document_upload_spreadsheet?(document) %>
    <%= image_tag "document_placeholder_spreadsheet.png", alt: "" %>
  <% else %>
    <%= image_tag "document_placeholder_document.png", alt: "" %>
  <% end %>
  <span class="app-document-preview__filetype">
    <%= document_upload_file_extension(document) %>
  </span>
</div>
