<% page_heading = "Select an action" %>
<% page_title(page_heading, errors: @actions_form.errors.any?) %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with model: @actions_form, local: true, url: investigation_actions_path(@investigation), html: {novalidate: true}, builder: ApplicationFormBuilder do |form| %>
      <%= error_summary @actions_form.errors %>
      <%= form.govuk_radios :investigation_action, legend: page_heading, legend_classes: "govuk-fieldset__legend--l", items: radio_items_from_hash(@actions_form.actions) %>
      <%= form.submit "Continue", class: "govuk-button" %>
    <% end %>
  </div>
</div>
