<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <%= activity_table_row.supporting_information_title %>
  </td>
  <td class="govuk-table__cell">
    <%= activity_table_row.type_for_table_display %>
  </td>
  <td class="govuk-table__cell">
    <%= activity_table_row.date_of_activity %>
  </td>
  <td class="govuk-table__cell">
    <%= activity_table_row.date_added %>
  </td>
</tr>
