<%= form_tag request.path, method: :get do %>
  <%= render "components/govuk_select",
    name: "sort_by",
    id: "sort_by",
    classes: "app-!-max-width-one-third govuk-!-display-inline",
    items: @supporting_information.sort_options,
    label: {
      text: "Sort by",
      classes: "govuk-!-display-inline govuk-!-margin-right-1"
    },
    formGroup: {
      classes: "govuk-!-display-inline force-inline"
    },
    is_autocomplete: false
  %>
  <div class="govuk-form-group govuk-!-display-inline">
    <%= govukButton(text: "Sort", classes: "govuk-!-display-inline") %>
  </div>
<% end %>
