<% content_for :page_title, "Dashboard" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a href="<%= account_administration_index_path %>" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">Account administration</h3>
      <p class="govuk-body">View and manage accounts for PSD users.</p>
    </a>
  </div>
  <div class="govuk-grid-column-one-half">
    <a href="<%= history_index_path %>" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">Change history log</h3>
      <p class="govuk-body">Check the historical actions and events taken part in PSD.</p>
    </a>
  </div>
</div>
<% if current_user.has_role?("update_product_taxonomy") %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a href="<%= product_taxonomy_index_path %>" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">Product taxonomy</h3>
      <p class="govuk-body">View and update product categories and sub-categories.</p>
    </a>
  </div>
</div>
<% end %>
