<%- page_heading = "Is this case related to the coronavirus outbreak?" %>

<%= page_title page_heading, errors: @investigation.errors.any? %>

<%= banner do %>
  <p>Coronavirus (COVID-19): OPSS is urging all market surveillance authorities to prioritise coronavirus-related cases above other work.</p>
<% end %>

<%= render 'investigations/coronavirus_related/form', investigation: @investigation, fieldset_label: page_heading, url: wizard_path%>
