
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a href="<%= summary_index_path %>" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">Summary</h3>
      <p class="govuk-body">At a glace statistics from all areas of PSD</p>
    </a>
  </div>
  <div class="govuk-grid-column-one-half">
    <a href="<%= best_teams_path %>" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">Top teams</h3>
      <p class="govuk-body">Reports around the best performing teams</p>
    </a>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <a href="<%= worst_teams_path %>" class="app-card">
      <h3 class="govuk-heading-s app-card__heading">Worst teams</h3>
      <p class="govuk-body">Reports around the worst performing teams</p>
    </a>
  </div>
</div>