<% if authenticity == "counterfeit" %>
<span class="opss-tag opss-tag--risk2 opss-tag--lrg">Yes</span> <span class="govuk-!-font-size-16 govuk-!-padding-left-2 opss-secondary-text"><%= t("products.counterfeit") %></span>
<% else %>
No <span class="govuk-!-font-size-16 govuk-!-padding-left-2 opss-secondary-text"><%= t("products.genuine") %></span>
<% end %>
