.app-badge--owner,
.app-badge--restricted,
.app-badge--closed,
.app-badge--risk-high {
  border-color: $govuk-secondary-text-colour;
  color: $govuk-secondary-text-colour;
}

// Used for coronavirus (COVID-19) related cases
.app-badge--coronavirus {
  background-color: $coronavirus-colour;
  border-color: $coronavirus-colour;
  color: govuk-colour("white");
}

.app-badge--risk-serious {
  background-color: govuk-colour("white");
  border-color: $govuk-error-colour;
  color: $govuk-error-colour;
}
