.app-badge--restricted,
.app-badge--closed {
  border-color: $govuk-secondary-text-colour;
  color: $govuk-secondary-text-colour;
}

.app-badge--risk-serious,
.app-badge--risk-high {
  background-color: govuk-colour("white");
  border-color: $govuk-error-colour;
  color: $govuk-error-colour;
}
