.button-link {
  padding: 0;

  // optional
  font: inherit;
  font-family: arial, sans-serif; // input has OS specific font-family
  text-decoration: underline;
  color: $govuk-link-colour;
  @include remove-default-button-styling;
  @include govuk-link-common;
}

// Larger buttons like govuk-start buttons, but without the chevron
.app-button--l {
  // Below styles from govuk-button--start
  @include govuk-typography-weight-bold;
  @include govuk-typography-responsive($size: 24, $override-line-height: 1);
  display: inline-flex;
  min-height: auto;
  justify-content: center;
}
