.psd-case__status-area {

  // To match govuk breadcrumbs
  margin-top: govuk-spacing(3);
  margin-bottom: govuk-spacing(2);

  @include govuk-media-query($from: tablet) {
    text-align: right;
  }

}

.force-inline:after {
  display: inline;
}
