.app-masthead {
  @include govuk-responsive-padding(6, "top");
  @include govuk-responsive-padding(6, "bottom");
  color: govuk-colour("white");
  background-color: govuk-colour("blue");
}

.app-introduction-card {
  @include govuk-responsive-padding(9);
  color: govuk-colour("white");
  background-color: govuk-colour("blue");
}

.app-masthead__title, .app-introduction-card__title {
  @include govuk-responsive-margin(6, "bottom");
  color: govuk-colour("white");
}

.app-masthead__description, .app-introduction-card__description {
  color: govuk-colour("white");
}
