// ==========================================================================
// Permission notice
// ========================================================================== */
//
// Loosely copied from
// https://github.com/alphagov/govuk-frontend/blob/master/src/govuk/components/inset-text/_inset-text.scss
.app-permission-notice {
  @include govuk-font($size: 16);

  * {
    @include govuk-font($size: 16);
  }

  @include govuk-text-colour;
  padding: govuk-spacing(2); //reduced padding from inset-text
  padding-left: govuk-spacing(3); // to match inset-text
  // Margin top intended to collapse
  // This adds an additional 10px to the paragraph above
  @include govuk-responsive-margin(4, "top");
  @include govuk-responsive-margin(4, "bottom");

  clear: both;

  border-left: $govuk-border-width-wide solid;

  border-color: lighten(desaturate(govuk-colour("light-blue"), 5), 5);
  background-color: lighten(desaturate(govuk-colour("light-blue"), 5), 30);

  > :first-child {
    margin-top: 0;
  }

  > :only-child,
  > :last-child {
    margin-bottom: 0;
  }


}
