@include govuk-exports("psd/component/header") {
  // Only show these in desktop view
  .psd-header__secondary-navigation-list {
    display: none;

    @include mq ($from: desktop) {
      display: block;
    }

    position: absolute;
    top: govuk-spacing(1);
    right: 0;
    margin: 0;
    padding: 0;
  }

  // Only show these items in mobile view
  .psd-header__secondary-navigation-item {
    @include mq ($from: desktop) {
      display: none;
    }
  }

  .psd-header__navigation-item--right {
    @include mq ($from: desktop) {
      float: right;
    }
  }
}
