// Limit length of content containing elements
// Needed when using wider site width as 2/3 columns are now too wide
// Loosely based on https://github.com/alphagov/govuk-design-system/blob/master/src/stylesheets/main.scss#L69

$max-content-width: 722px; // A bit bigger than prev 2/3 column but not full width.

// A non-exhaustive list of govuk elements that contain content
.govuk-accordion__section-heading,
.govuk-body,
.govuk-body-l,
.govuk-body-s,
.govuk-caption-l,
.govuk-caption-m,
.govuk-caption-xl,
.govuk-details__summary,
.govuk-details__text,
.govuk-error-message,
.govuk-error-summary__title,
.govuk-fieldset__heading,
.govuk-fieldset__legend,
.govuk-heading-l,
.govuk-heading-m,
.govuk-heading-s,
.govuk-heading-xl,
.govuk-hint,
.govuk-input:not([class*="govuk-input--width-"]), // width classes rely on max-width
.govuk-inset-text,
.govuk-label,
.govuk-link,
.govuk-list li,
.govuk-panel__body,
.govuk-panel__title,
.govuk-phase-banner__content,
.govuk-select,
.govuk-table__caption,
.govuk-textarea,
.govuk-warning-text__text,
// Element selectors as we rely on global styles for some things
// TODO: Avoid selecting elements directly
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  max-width: $max-content-width;
}

// For anchors not in a paragraph
.app-block-link {
  display: inline-block;

  // As per govuk-body-m except colour
  @include govuk-font($size: 19);
  margin-top: 0;
  @include govuk-responsive-margin(4, "bottom");
}
