// TODO: This is a transitional step as we revert back to a 960px page width.
//   Once transition is complete this import can be deleted.

@include mq ($from: desktop) {
  .govuk-header {
    border-bottom: 10px solid $govuk-brand-colour;
    padding-bottom: 10px;
  }

  .govuk-header__container {
    border-bottom: none 0;
  }

  .govuk-header__logo {
    width: 74% !important;

    &.no-width {
      width: 33.33% !important;
    }
  }

  .psd-header__secondary-navigation {
    margin-left: 0 !important;
  }

  .psd-header__navigation {
    margin-left: -14px !important;
    padding-bottom: 8px !important;
  }

  .psd-header__navigation-item {
    padding-bottom: 4px !important;
  }

  .psd-header__navigation-item.psd-header__navigation-item--active:before {
    height: 3px !important;
  }

  .psd-header__navigation-item--active.psd-header__navigation-item--right,
  .psd-header__navigation-item--right {
    padding: 0;
    float: none !important;
    position: absolute;
    right: 0;
    bottom: 8px;
  }

  .psd-case-card > .govuk-grid-column-one-quarter:last-of-type,
  .psd-product-card > .govuk-grid-column-one-quarter:last-of-type {
    text-align: right;
  }

  .psd-case-card a:before,
  .psd-case-card--restricted-access span:before,
  .psd-product-card a:before {
    border-left: none 0 !important;
    border-right: none 0 !important;
  }

  .psd-case-card .govuk-grid-column-one-half,
  .psd-case-card > .govuk-grid-column-one-quarter:last-of-type,
  .psd-product-card .govuk-grid-column-one-half,
  .psd-product-card > .govuk-grid-column-one-quarter:last-of-type {
    padding-left: 0;
    padding-right: 0;
  }

  div.psd-case-card a:focus:before,
  div.psd-product-card a:focus:before {
    outline: none;
    background-color: none;
    box-shadow: none;
    text-decoration: none;
  }

  .govuk-grid-column-three-quarters .govuk-grid-row.psd-product-card .govuk-grid-column-one-half:nth-child(2) .govuk-grid-column-one-third:first-child,
  .govuk-grid-column-three-quarters .govuk-grid-row.psd-product-card .govuk-grid-column-one-half:nth-child(2) .govuk-grid-column-one-third:nth-child(2) {
    width: 50%;
    padding-right: 0;
  }

  .app-identity-bar {
    padding-top: 10px;
    margin-top: 0;
  }
}

select.govuk-select {
  // return to default setting
  width: auto;
  max-width: 100%;
}
