<% @products.each do |product| %>
  <div class="govuk-grid-row govuk-!-margin-bottom-6">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-s"><%= product.name %></h2>
    </div>
    <div class="govuk-grid-column-one-third">
      <div class="opss-text-align-right">
        <a href=<%=product_path(product)%> class="govuk-link govuk-link--no-visited-state">
          Go to the <span class="govuk-visually-hidden"><%= product.name %></span> product page
        </a>
      </div>
    </div>
  </div>


  <% if product.images.empty? %>
    <p class="govuk-body">No attachments</p>
  <% end %>

  <%= render partial: "documents/document_card", collection: product.images, as: :document, locals: { parent: product, heading_classes: "govuk-heading-s govuk-!-margin-bottom-1", do_not_show_edit_and_remove_links: true }  %>
<% end %>
