<div class="timeline opss-timeline">
  <ul class="govuk-list">
    <%- activities.each do |activity| %>
      <%= render "investigations/activities/activity_card", activity: activity.decorate %>
    <% end %>
  </ul>
</div>
