<% if investigations.any? %>
  <% investigations.each do |investigation| %>
    <% if policy(investigation).view_non_protected_details? %>
      <%= render "investigations/case_card", investigation: investigation.decorate, sorted_by: "recent" %>
    <% else %>
      <%= render "investigations/restricted_card", investigation: investigation.decorate %>
    <% end %>
  <% end %>
<% else %>
  <p class="govuk-!-margin-top-6">No notifications</p>
<% end %>
