<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <span class="govuk-caption-l">Product</span>
    <h1 class="govuk-heading-l"><%= product.name %></h1>
    <p class="govuk-caption-m"><%= product.created_at.to_formatted_s(:govuk) %></p>
  </div>
</div>
