<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body opss-secondary-text">
      This product record has been added to <%= pluralize @product.investigations.size, 'case' %>.
    </p>
  </div>
</div>

<% if @product.investigations.any? %>
  <dl class="govuk-summary-list opss-summary-list-mixed opss-summary-list-mixed--sm-font opss-summary-list-mixed--4-cols psd-case-card">
    <% @product.investigations.each do |investigation| %>
      <%= investigation.details_summary_list %>
    <% end %>
  </dl>
<% end %>
