<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body opss-secondary-text">
      This product record has been added to <%= pluralize @product.investigations.size, 'case' %>.
    </p>
  </div>
</div>

<% if @product.investigations.any? %>
  <% rows = @product.investigations.uniq.map do |investigation| %>
    <% { key: { text: investigation.case_title_key }, values: investigation.case_summary_values } %>
  <% end %>

  <%= govukSummaryList(rows: rows, classes: "govuk-summary-list opss-summary-list-mixed opss-summary-list-mixed--sm-font opss-summary-list-mixed--4-cols capy-cases") %>
<% end %>
