<% count = @product.get_investigations_count_for_display %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body opss-secondary-text">
      This product record has been added to <%= pluralize count, 'notification' %>.
    </p>
  </div>
</div>
<% if count > 0 %>
  <% rows = @product.investigations.uniq.each_with_object([]) do |investigation, array| %>
    <% next if investigation.is_a?(Investigation::Notification) && investigation.state == 'draft' %>
    <% array << [investigation.case_title_key(@current_user), *investigation.case_summary_values] %>
  <% end %>
  <%= govuk_table(head: ["Notification name", "Notification number", "Notification owner", "Status"], rows:) %>
<% end %>
