<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "search_statement", count: count, keywords: keywords, filter: filter %>
  </div>
  <div class="govuk-grid-column-one-third">
    <div class="govuk-form-group opss-text-align-right">
      <fieldset id="sort-by-fieldset" class="opss-border-none govuk-!-padding-0 opss-nojs-hide">
        <label class="govuk-label govuk-body-s" for="sort_by">
            Sort <span class="govuk-visually-hidden">the results</span> by
        </label>
        <select class="govuk-select govuk-!-margin-bottom-1" id="sort_by">
          <%= sort_by_options(Product::SORT_BY_ITEMS, params[:sort_by]) %>
        </select>
      </fieldset>
      <dl class="govuk-list opss-float-right opss-dl-select opss-js-enabled-hidden">
        <dt>Sort <span class="govuk-visually-hidden">the results</span> by</dt>
        <%= sort_by_definition_list_items(Product::SORT_BY_ITEMS, params[:sort_by]) %>
      </dl>
    </div>
  </div>
</div>
