<li class="govuk-!-margin-bottom-3">
  <%= link_to product.name, product_path(product), class: "app-block-link govuk-link govuk-!-margin-bottom-2" %>
  <% if product.virus_free_images.any? %>
    <%= render "image_uploads/image_preview",
      image: product.virus_free_images.first,
      dimensions: [300, 500],
      hide_link: true,
      class_name: 'app-document-preview--small' %>
  <% end %>
</li>
