<p class="govuk-body">
  <% filters_are_blank = filter[:category].blank? && filter[:retired_status].blank? %>
  <% if keywords.blank? && filters_are_blank %>
    There are currently <%= pluralize count, "product" %>.
  <% else %>
    <% if keywords.present? || filter.present? %>
      <%= pluralize count, "product" %>
      <% if keywords.present? %>
        matching keyword(s) <span class="govuk-!-font-weight-bold"><%= sanitize keywords %></span>,
      <% end %>
      <% unless filters_are_blank %>
        using the current filters,
      <% end %>
      <%= count == 1 ? "was" : "were" %> found.
    <% end %>
  <% end %>
</p>
