<nav aria-label="Secondary">
  <ul class="govuk-list opss-left-nav">
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/psd-products-area/your-products-sorting.html">Your products</a>
      </li>
      <li>
        <a class="govuk-link govuk-link--no-visited-state" href="/psd-products-area/team-products.html">Team products</a>
      </li>
      <li class="opss-left-nav__active">
        <a class="govuk-link govuk-link--no-visited-state" aria-current="page" href="/psd-products-area/all-products.html">All products - Search</a>
      </li>
    </ul>
  </nav>
