<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">
    <%= link_to product.name, product, class: "govuk-link govuk-link--no-visited-state" %>
  </th>
  <td class="govuk-table__cell">
    <%= product.subcategory %>
  </td>
  <td class="govuk-table__cell">
    <%= product.category %>
  </td>
</tr>
