<table class="govuk-table opss-table-items opss-table-items--sm">
  <caption class="govuk-visually-hidden">
      Products: 5 columns with each case described across rows within each table body.                  
  </caption>
  <thead class="govuk-table__head">
      <tr class="govuk-table__row">
          <th class="govuk-visually-hidden">&nbsp;</th>
          <th id="psdref" scope="col" class="govuk-table__header"><%= psd_abbr %> ref</th>
          <th id="prodtype" scope="col" class="govuk-table__header">Product type</th>
          <th id="haztype" scope="col" class="govuk-table__header">Hazard type</th>
          <th id="cat" scope="col" class="govuk-table__header">Category</th>
      </tr>
  </thead>

  <% products.each_with_index do |product, index| %>
    <%= render "table_row", product: product, index: index%>
  <% end %>

  <% if products.size > 11 %>
    <tfoot class="govuk-table__head">
      <tr class="govuk-table__row">
          <th class="govuk-visually-hidden">&nbsp;</th>
          <th scope="col" class="govuk-table__header"><%= psd_abbr %> ref</th>
          <th scope="col" class="govuk-table__header">Type</th>
          <th scope="col" class="govuk-table__header">Hazard type</th>
          <th scope="col" class="govuk-table__header">Category</th>
      </tr>
    </tfoot>
  <% end %>
</table>
