<?xml version='1.0'?>
<Workbook xmlns='urn:schemas-microsoft-com:office:spreadsheet'
          xmlns:o='urn:schemas-microsoft-com:office:office'
          xmlns:x='urn:schemas-microsoft-com:office:excel'
          xmlns:ss='urn:schemas-microsoft-com:office:spreadsheet'
          xmlns:html='http://www.w3.org/TR/REC-html40'>
  <Worksheet ss:Name='Sheet1'>
        <Table>
            <Row ss:StyleID='header'>
                <Cell><Data ss:Type='String'>Folder</Data></Cell>
                <Cell><Data ss:Type='String'>Sub-Folder</Data></Cell>
                <Cell><Data ss:Type='String'>Value</Data></Cell>
            </Row>
            <Row ss:StyleID='row'>
                <Cell><Data ss:Type='String'>abc</Data></Cell>
                <Cell><Data ss:Type='String'>123</Data></Cell>
                <Cell><Data ss:Type='String'>def</Data></Cell>
            </Row>
        </Table>
    </Worksheet>
  <Worksheet ss:Name='Sheet2'>
        <Table>
            <Row ss:StyleID='header'>
                <Cell><Data ss:Type='String'>Yo</Data></Cell>
                <Cell><Data ss:Type='String'>Sup-Folder</Data></Cell>
                <Cell><Data ss:Type='String'>Bro</Data></Cell>
            </Row>
            <Row ss:StyleID='row'>
                <Cell><Data ss:Type='String'>A</Data></Cell>
                <Cell><Data ss:Type='String'>B</Data></Cell>
                <Cell><Data ss:Type='String'>C</Data></Cell>
            </Row>
        </Table>
    </Worksheet>
</Workbook>
