<%= page_title "Contact the product record owner - #{@product.name}" %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render "owner_contact_details", product: @product %>
  </div>
</div>
