<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h2 class="govuk-heading-m">Attachments</h2>

    <p class="govuk-body">
      <%= link_to "Add attachment", new_product_document_path(@product), class: "govuk-link" %>
    </p>

    <hr class="govuk-section-break govuk-section-break--l">

    <% if @product.images.empty? && @product.documents.empty? %>
      <p class="govuk-body">No attachments</p>
    <% end %>
  </div>
</div>

<%= render partial: "documents/document_card", collection: @product.virus_free_non_image_attachments, as: :document, locals: { parent: @product } %>
