<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h2 class="govuk-heading-m">Full detail</h2>

    <p class="govuk-body">
      <%= link_to "Edit details", edit_product_path(@product), class: "govuk-link" %>
    </p>

    <hr class="govuk-section-break govuk-section-break--l">

    <%= @product.summary_list %>

  </div>
</div>
