<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h2 class="govuk-heading-m">Images</h2>

    <p class="govuk-body">
      <%= link_to "Add image", new_document_flow_path(@product), class: "govuk-link" %>
    </p>

    <hr class="govuk-section-break govuk-section-break--l">

    <% if @product.images.empty? %>
      <p class="govuk-body">No attachments</p>
    <% end %>
  </div>
</div>

<%= render partial: "documents/document_card", collection: @product.images, as: :document, locals: { parent: @product } %>
