<%
  creator = activity.source&.user&.organisation&.name || activity.source&.show
%>

<p><%= render "components/hmcts_badge", text: "Restricted access", classes: "hmcts-badge--grey" %></p>
<p>Consumer contact details hidden to comply with GDPR legislation. Contact <%= creator %>, who created this activity, to obtain these details if required.</p>
