<div class="govuk-!-margin-top-9 govuk-!-padding-bottom-1 opss-grouping">
  <h3 id="source" class="govuk-heading-m opss-grouping__heading-m">
    Product recall and alerts site
  </h3>
  <p class="govuk-body-s">This product record is included in one or more notifications with:</p>
  <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
    <li>a risk level set to high or serious</li>
    <li>a product recall corrective action</li>
  </ul>
  <p class="govuk-body-s">
    You can format the information required to add this product to the product recall and alerts site using the <%= link_to "product recall formatting tool", product_recall_path(product_id: @product.id, id: :start), target: "_blank", class: "govuk-link govuk-link--no-visited-state" %> (Opens in a new tab).
  </p>
</div>
