<%= page_title "Activity - #{@investigation.pretty_id}" %>

<p class="govuk-body">
  <%= link_to "Add comment", new_investigation_activity_comment_path(@investigation) %>
</p>
<hr class="govuk-section-break govuk-section-break--m">

<%= render "activities_summary", activities: @activities %>
