<%= page_title "Activity - #{@investigation.pretty_id}" %>
<h2 class="govuk-heading-m govuk-!-margin-top-1 govuk-visually-hidden">The activity timeline for this case</h2>
<%= render "activities_summary", activities: @activities %>
