<section id="page-content" role="region" class="govuk-grid-column-three-quarters">

  <h2 class="govuk-heading-m govuk-!-margin-top-1 govuk-visually-hidden">The products included in this case</h2>

  <% @investigation.products.each_with_index do |product, index| %>
    <section>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          <h3 id=<%="prod-#{index + 1}" %> class="govuk-heading-m"><%= product.name %></h3>
        </div>
        <div class="govuk-grid-column-one-quarter">
          <div class="opss-text-align-right opss-margin-bottom-1-desktop">
            <%= link_to edit_product_path(product), class: "govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-underline-offset"  do %>
              Edit this <span class="govuk-visually-hidden">Asda dishwashing liquid </span>product
            <% end %>
          </div>
        </div>
      </div>
    </section>
  <% end %>
</section>
