<h2 class="govuk-heading-m govuk-!-margin-top-1 govuk-visually-hidden">The supporting information for this case</h2>

<section id="accidents" class="govuk-!-margin-bottom-9 govuk-!-padding-right-4 govuk-!-padding-left-4" data-info-number="2">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h3 class="govuk-heading-m">
                Accidents and incidents <span class="govuk-!-font-weight-regular govuk-!-font-size-24">(2)</span>
            </h3>
        </div>
        <div class="govuk-grid-column-one-quarter">
            <div class="opss-text-align-right opss-margin-bottom-1-desktop">
                <a href="#" class="govuk-link govuk-link--no-visited-state govuk-!-font-size-19 opss-text-underline-offset">
                    Add <span class="govuk-visually-hidden">an accident or incident</span>
                </a><!-- goes directly to the relevant form page -->
            </div>
        </div>
    </div>

    <ul class="govuk-list">
      <% @grouped_supporting_information["accident_or_incidents"].each do |item| %>
        <%=
          decorated_item = item.decorate

          render "investigations/supporting_information/card.html.erb", event_date: decorated_item.date_of_activity, type: decorated_item.supporting_information_type, title: decorated_item.supporting_information_title, added_date: decorated_item.date_added, show_path: decorated_item.show_path
        %>
      <% end %>
    </ul>
</section>
