name: RSpec test suite

on: [push]

env:
  DATABASE_URL: postgres://postgres@localhost:5432
  ELASTICSEARCH_URL: http://localhost:9200
  REDIS_URL: redis://localhost:6379
  RAILS_ENV: test
  KEYCLOAK_AUTH_URL: ${{ secrets.KeycloakAuthUrl }}
  KEYCLOAK_CLIENT_ID: ${{ secrets.KeycloakClientId }}
  KEYCLOAK_CLIENT_SECRET: ${{ secrets.KeycloakClientSecret }}
  KEYCLOAK_USER_PASSWORD: ${{ secrets.KeycloakUserPassword }}
  KEYCLOAK_REDIRECT_URI: http://localhost:3000/users/auth/openid_connect/callback
  ANTIVIRUS_URL: http://localhost:3006/safe
  ANTIVIRUS_USERNAME: av
  ANTIVIRUS_PASSWORD: password
  HTTP_HOST: localhost
  HTTP_PORT: 3000

jobs:
  ruby:
    name: "Ruby"
    runs-on: ubuntu-latest

    # Example for can be found here:
    # https://github.com/actions/example-services/tree/master/.github/workflows
    services:
      postgres:
        image: postgres:11.5
        env:
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: ""
          POSTGRES_DB: postgres
        ports: ["5432:5432"]
        options: --health-cmd pg_isready --health-interval 10s --health-timeout 5s --health-retries 5
      elasticsearch:
        image: elasticsearch:6.7.2
        ports: ["9200:9200"]
        options: -e="discovery.type=single-node" --health-cmd="curl http://localhost:9200/_cluster/health" --health-interval=10s --health-timeout=5s --health-retries=10
      redis:
        image: redis
        ports:
        - 6379:6379
        options: --entrypoint redis-server
    steps:
    - uses: actions/checkout@v1

    - name: Set up Ruby
      uses: actions/setup-ruby@v1
      with:
        ruby-version: 2.5.x

    - name: Set up Node
      uses: actions/setup-node@v1
      with:
        node-version: 10.16.x

    - name: Install PostgreSQL client
      run: sudo apt-get install libpq-dev

    - name: Install Chromedriver
      run: wget https://chromedriver.storage.googleapis.com/2.41/chromedriver_linux64.zip && unzip chromedriver_linux64.zip && sudo mv chromedriver /usr/bin && sudo chmod +x /usr/bin/chromedriver

    - uses: actions/cache@v1
      with:
        path: psd-web/vendor/bundle
        key: ${{ runner.os }}-gems-rspec-${{ hashFiles('**/Gemfile.lock') }}
        restore-keys: |
          ${{ runner.os }}-gems-rspec-

    - name: Install RubyGems
      working-directory: psd-web
      run: |
        gem install bundler --no-doc
        bundle config path vendor/bundle
        bundle check || bundle install --jobs=4 --retry=3
    - name: Install yarn
      run: npm install yarn -g

    - name: Get yarn cache
      id: yarn-cache
      run: echo "::set-output name=dir::$(yarn cache dir)"

    - uses: actions/cache@v1
      with:
        path: ${{ steps.yarn-cache.outputs.dir }}
        key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
        restore-keys: |
          ${{ runner.os }}-yarn-

    - name: Install Node.js dependencies
      working-directory: psd-web
      run: yarn install

    - name: Prepare database
      working-directory: psd-web
      run: bin/rails db:create db:schema:load

    - name: Run Specs
      working-directory: psd-web
      run: |
        bundle exec rspec spec

    - uses: actions/upload-artifact@v1
      if: failure()
      with:
        name: capybara screenshots
        path: psd-web/tmp/capybara
