<div class="app-document-preview__placeholder" aria-hidden="true">
  <%= image_tag "document_placeholder_document.png", alt: "" %>
  <span class="app-document-preview__filetype">
    <%= image_upload_file_extension(image) %>
  </span>
</div>
